@mixin btn() {
  padding: 0.5rem 1rem !important;
  border-radius: 0.25rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
  outline: none;

  &:disabled {
    background-color: color(neutral, trans);
    cursor: not-allowed;
  }

  &:active {
    transform: scale(0.975);
  }
}

@mixin btn-color($bg-color) {
  color: color-contrast(color($bg-color, base));
  background-color: color($bg-color, base);
  border-color: color($bg-color, base);

  &:hover {
    background-color: color($bg-color, light);
    border-color: color($bg-color, light);
  }
}

@mixin btn-outline($bg-color) {
  border-color: color($bg-color, base);
  color: color($bg-color, base);

  &:hover {
    background-color: color($bg-color, base);
    color: color-contrast(color($bg-color, base));
  }
}
