/** Helper classes **/
.click {
  cursor: pointer !important;
}

.hidden {
  display: none !important;
}

.invisible {
  opacity: 0 !important;
}

.relative {
  position: relative !important;
}

.overflow-hidden {
  overflow: hidden !important;
}
