/* Material snackbar styles */
.cdk-overlay-pane {
  .mat-snack-bar-container {
    background-color: color(primary, base);
    color: color-contrast(color(primary, base));
    bottom: 2rem !important;
    box-shadow: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 0.15rem;
    position: fixed !important;
    left: 1rem;
    right: 1rem;
    transition: all 0.25s ease;
    max-width: calc(100% - 2rem) !important;

    @include resolutions-above(medium) {
      max-width: 0 !important;
      left: unset;
    }

    @include resolutions-between(medium, large) {
      max-width: 66vw;
    }

    button {
      background-color: color(primary, base);
      color: color-contrast(color(primary, base));
    }

    &.success,
    &.success button {
      background-color: color(success, base);
      color: color-contrast(color(success, base));
    }

    &.warning,
    &.warning button {
      background-color: color(warning, base);
      color: color-contrast(color(warning, base));
    }

    &.danger,
    &.danger button {
      background-color: color(danger, base);
      color: color-contrast(color(danger, base));
    }
  }

  .mat-simple-snackbar-action {
    font-weight: bold;
    cursor: pointer;
  }

  &.mat-snack-bar-handset .mat-snack-bar-container {
    margin: 0 !important;
  }
}
