.margin-auto {
  margin: auto !important;
}

.no-margin {
  margin: 0 !important;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

@each $key, $space in $spacers {
  .#{$key}-margin-x {
    margin-left: $space !important;
    margin-right: $space !important;
  }

  .#{$key}-margin-y {
    margin-top: $space !important;
    margin-bottom: $space !important;
  }

  .#{$key}-padding-x {
    padding-left: $space !important;
    padding-right: $space !important;
  }

  .#{$key}-padding-y {
    padding-top: $space !important;
    padding-bottom: $space !important;
  }

  @if $key == default {
    .margin-x {
      margin-left: $space !important;
      margin-right: $space !important;
    }

    .margin-y {
      margin-top: $space !important;
      margin-bottom: $space !important;
    }

    .padding-x {
      padding-left: $space !important;
      padding-right: $space !important;
    }

    .padding-y {
      padding-top: $space !important;
      padding-bottom: $space !important;
    }
  }
}
